<div class="container flex-grow-1 p-3 text-center bg-light">
<div class="p-3 p-md-4 border  ">
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row my-3">
    <%= form.label :name, {class:' text-right col-2'} %> 
    <div class="col-10">
      <%= form.text_field :name , {class:'form-control'}%>
    </div>
  </div>

  <div class="field row my-3">
    <%= form.label :Starting_date, {class:' text-right col-2'} %>
    <div class="col-10">
      <div class="d-flex">  
        
          <%= form.date_select :datestart , {class:'form-control'}%>
      </div>
    </div>
  </div>

  <div class="field row my-3">
    <%= form.label :Ending_date, {class:' text-right col-2'} %>
    <div class="col-10">
      <div class="d-flex">
        <%= form.date_select :dateEnd , {class:'form-control'}%>
      </div>
    </div>
  </div>

  <div class="field row my-3">
    <%= form.label :location , {class:' text-right col-2'}%>
    <div class="col-10">
      <%= form.text_field :location , {class:'form-control'}%>
    </div>
  </div>

  <div class="field row my-3">
    <%= form.label :Short_Description , {class:' text-right col-2'}%>
    <div class="col-10">
      <%= form.text_field :shortDesc , {class:'form-control'}%>
    </div>
  </div>

  <div class="field row my-3">
    <%= form.label :description , {class:' text-right col-2'}%>
    <div class="col-10">
      <%= form.text_area :description , {class:'form-control'}%>
    </div>
  </div>

  <div class="actions col-12 p-2">
    <%= form.submit "Save" , class:" mx-5 btn btn-dark"%>
    <%= link_to 'Cancel', events_path , class:" mx-5 btn btn-dark"%>
  </div>
<% end %>
</div>
</div>