<% if user_signed_in?%>
<div class="d-flex justify-content-end bg-light py-2 pr-3">
    <div class="px-2 ">
      <%= link_to 'Add a new activity', new_activity_path , class:"btn btn-light" %>
    </div> 
    <div class="px-2 ">
      <%if @goal!=nil%>
        <%= link_to 'My goal', goals_path, class: "btn btn-light" %>
      <%else%>
        <%= link_to 'Set a goal', new_goal_path, class: "btn btn-light" %>
      <%end%>
    </div>
</div>
<% end %>

<div class="container flex-grow-1 my-3 text-center">
  <h3>Activities</h3>
  <hr>
<% if @activities.length <= 0%>
<div class="container flex-grow-1 my-3 d-flex">
  <div class="align-self-center mx-auto ">
        <p >no records found</p>
  </div>
</div>

<%else%>

  <div class="row my-2">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%if @lastrecord!=nil%>
        <p class="text-left ">Last recorded weight: <%= @lastrecord.weight%></p>
      <%end%>
    </div>
    <div class=" border bg-light shadow-lg col-sm-12 col-md-8 ">
        <%= content_tag :div, "", id: "activity_chart",style: "height: 200px", data: {activities: activity_chart_data}%>
    </div>
  </div>
  <div class="row my-5">
    <% @activities.each do |activity| %>
        <div class="col-sm-12 col-md-6 my-2 mx-auto ">
            <div class="card shadow-lg" >            
                <div class="card-body">              
                  <div class="row py-2">
                    <div class="col-2 eventdate d-flex flex-column justify-content-center bg-light border">
                      <div class="month text-uppercase "><%= activity.date.strftime("%b")%></div>
                      <div class="day"><%= activity.date.strftime("%d")%></div>
                    </div>
                    <div class="col-10 text-left">
                    <p class="card-title text-uppercase"><strong><%= activity.name %></strong></p> 
                      <p class="card-text">
                      <span class="badge bg-secondary text-white font-weight-normal">Weight (kg): <%= activity.weight %> </span>
                      <span class="badge bg-secondary text-white font-weight-normal">Calories: <%= activity.calories %> </span></p>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                    <%= link_to 'Edit activity',  edit_activity_path(activity), class:"mx-4 bg-light rounded p-2" %> |
                  <%= link_to 'Delete activity', activity_path(activity), method: :delete,
                   data: { confirm: 'Are you sure?' }, class:"mx-4 bg-light rounded p-2" %>
                </div>
              </div>
        </div>
    <%end%>
  </div>
  <%end%>

</div>
