
<div class="container flex-grow-1 p-3 text-center">
  <h3><%= @activity.name %></h3>
  <hr>
  <div class="row mx-4 ">
    <div class="col-sm-12 col-md-8 my-2 mx-auto ">
        <div class="card shadow-lg" >            
            <div class="card-body">              
              <div class="row py-2">
                <div class="col-2 eventdate">
                  <div class="month text-uppercase"><%= @activity.date.strftime("%b")%></div>
                  <div class="day"><%= @activity.date.strftime("%d")%></div>
                </div>
                <div class="col-10 text-left">
                  <p class="card-text">Date : <%= @activity.date.strftime("%b")%> <%=@activity.date.strftime("%d")%> | 
                  Weight : <%= @activity.weight %> | Calories: <%= @activity.calories %></p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
                <%= link_to 'Edit activity',  edit_activity_path(@activity), class:"mx-4 " %> |
              <%= link_to 'See all activities', activities_path, class:"mx-4 " %>
            </div>
          </div>
    </div>
  </div>
</div> 